* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span {
    font-family:sans-serif;
    font-size:40px; 
    line-height: 50px;
    color:white;

}
#button {
    width:260px;
    background: lightgrey;
    color:white;
    height: 100px;
    border-radius: 20px;
    text-align: center ;
    line-height: 100px;
    font-size:50px;
   
}
.cent{
 position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

a{

    color:white;
    text-decoration: none;
    font-family: sans-serif;
}

#bod {
    padding: 10px 20px 0 20px;
    background: linear-gradient(#8d8d8d, #f8f8f8);

}

.imag {
 display: block;
    font-family:sans-serif;
    font-size:20px; 
    color:white;
    background-color: lightgray;
    border-radius: 10%;
    height: 400px;
    width: 400px;
    margin: 20px;
    padding:20px;
    }